@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

nav{
    background-color: #1b1922;
    padding: 10px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo a{
    text-decoration: none;
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}

nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    padding: 10px;
}

nav li{
    margin-left: 7px;
}

nav li a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    transition: 0.3s;
}

nav li a:hover{
    background-color: #de736e;
    color: rgb(0, 0, 0);
}

.banner{
    height: 100vh;
    background: url("img/bg.jpg")no-repeat center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.texto .titulo{
    color: #fff;
    font-size: 60px;
    font-family: 600;
}

.texto .subtitulo{
    color: #fff;
    font-size: 58px;
    font-family: 600;
}

.texto .botoes{
    margin-top: 30px;
}

.texto .botoes button{
    height: 55px;
    width: 178px;
    border-radius: 5px;
    border: 0;
    margin: 0 10px;
    font-size: 20px;
    font-weight: 500;
    padding: 0 10px;
    cursor: pointer;
    outline: none;
    transition: 0.3s;
    background-color: #1b1922;
    color: #fff;
}

.texto .botoes button:hover{
    background-color: #de736e;
    color: rgb(0, 0, 0);
}